# --- IDE & OS (Messy files) ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# --- Backend (Java & Spring Boot) ---
target/
*.class
.settings/
.classpath
.project
# Ignore VS Code Java extension logs
.github/
# Ignore generic help file
HELP.md

# --- Frontend (Node & React) ---
node_modules/
dist/
build/
.npm/
*.local

# --- Secrets (SECURITY CRITICAL) ---
.env
application.properties
application.yml
