.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.auth-form {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.auth-input {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1rem;
}

.auth-button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #e50914; 
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.auth-button:hover {
    background-color: #f40612;
}

.auth-link {
    color: #737373;
    font-size: 0.9rem;
    margin-top: 10px;
}

.auth-link span {
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.auth-link span:hover {
    text-decoration: underline;
}